<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/main_layout}">
<head>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="./survList.css">
    <script type="text/javascript" src="./js/myList.js"></script>
    <title>My Survey</title>
</head>
<th:block layout:fragment="contents">
    <body>
    <div class="body">
        <h2>📑 My Survey</h2>
        <br>
        <span style="font-weight:bold;">나의 설문 수 : <span th:text="${total}"></span></span>

        <!-- User Information -->
        <div class="table">
            <table>
                <thead>
                <tr>
                    <th>이름</th>
                    <th>아이디</th>
                    <th>비밀번호</th>
                    <th>수정 여부</th>
                    <th>탈퇴 여부</th>
                    <th>결과</th>
                </tr>
                </thead>
                <tbody>
                <th:block th:if="${survList} != null">
                    <tr th:each="surv : ${survList}">
                        <td class="username" th:text="${surv.username}"></td>
                        <td class="userid" th:text="${surv.userId}"></td>
                        <td class="password" th:text="${surv.password}"></td>
                        <td class="modStatus">
                            <button type="button" id="editBtn"> 🔨정보 수정</button>
                        </td>
                        <td>                
                            <button type="submit" id="withdrawBtn">회원 탈퇴 📤</button>
                        </td>
                        <td class="regdate" th:text="${#dates.format(surv.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                    </tr>
                </th:block>
                
                <th:block th:unless="${survList} != null">
                    <tr>
                        <td colspan="8" style="text-align:center;">회원님이 생성한 설문이 없습니다.</td>
                    </tr>
                </th:block>
                </tbody>
            </table>
        </div>
        

        

        <div class="table">
            <!-- Your table content -->
        </div>

        <!-- paginate -->
        <th:block th:if="${survList} != null">
            <div class="paginate">
                <div class="paging">
                    <!-- Pagination controls -->
                </div>
            </div>
        </th:block>
        <!-- /paginate -->

    </div>
    </body>
</th:block>
</html>
